/*{box-sizing: border-box};*/

body{
  background-color: rgb(245, 234, 216);
}

.columnas{
  margin-top: 10%;
  margin-left: 25%;
}

.contenedorcolumna {
  width: 50%;
  margin-left: 50px;
  display: flex; /*este y el de abajo ponen los circulos al costado*/
  justify-content: space-between;
  margin-bottom: 30px;

}

div.uk-slider-container{
  display: flex;
}

.contenedorcolumna img{
}

button#buscador {
	color: black;
}


/*
 Buscador
*/

/*position a la derecha*/
form.form-buscador {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

/* cajita q deslice*/
form.form-buscador .buscadorsecundario {
	width: 200px;
	height: 20px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

/* q al pretar enter se envie sin mostrar botton*/
form.form-buscador button[type="submit"] {
	display: none;
}

/*q se ponga el pointer al pasar x la lupita y la separacion*/
form.form-buscador i.fas {
	margin-left: 10px;
	cursor: pointer;
}

/* q se esconda la cajita */
form.form-buscador .buscadorsecundario.inputHidden {
	visibility: hidden;
	width: 0px;
}
