/*{box-sizing: border-box};*/

body{
  background-color: rgb(50, 54, 57);
}

/*
 Buscador
*/
button#buscador {
	color: black;
}

/*position a la derecha de la lupa*/
form.form-buscador {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

/* cajita q deslice de la lupa*/
form.form-buscador .buscadorsecundario {
	width: 200px;
	height: 20px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

/* q al pretar enter se envie sin mostrar botton de la lupa*/
form.form-buscador button[type="submit"] {
	display: none;
}

/*q se ponga el pointer al pasar x la lupita y la separacion*/
form.form-buscador i.fas {
	margin-left: 10px;
	cursor: pointer;
}

/* q se esconda la cajita de la lupa */
form.form-buscador .buscadorsecundario.inputHidden {
	visibility: hidden;
	width: 0px;
}

/* menu generos a la izquierda */
div.menuOculto{
  display: flex;
  margin-left: 6px;
}
/*q se ponga el pointer en las 3 rayitas*/
div.padre i.fas {
	margin-left: 10px;
	cursor: pointer;
}
/* ocultar boton slide y solo mostrar las 3 rayitas*/
div.menuOculto button[name="gender"]{
  display: none;
}
/* sacarle color azul de link a las 3 rayitas*/
div.menuOculto a{
  color: inherit;
}
/*diseño lista de generos*/
div.menuOculto ul{

}


.columnas{
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.populares{
  width: 30%;
}
.al-aire{
  width: 30%;
}
.mayor-puntaje{
  width: 30%;
}
