/*{box-sizing: border-box};*/

body{
  background-color: rgb(245, 234, 216);
}

/*
 Buscador
*/
button#buscador {
	color: black;
}

/*position a la derecha de la lupa*/
form.form-buscador {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

/* cajita q deslice de la lupa*/
form.form-buscador .buscadorsecundario {
	width: 200px;
	height: 20px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

/* q al pretar enter se envie sin mostrar botton de la lupa*/
form.form-buscador button[type="submit"] {
	display: none;
}

/*q se ponga el pointer al pasar x la lupita y la separacion*/
form.form-buscador i.fas {
	margin-left: 10px;
	cursor: pointer;
}

/* q se esconda la cajita de la lupa */
form.form-buscador .buscadorsecundario.inputHidden {
	visibility: hidden;
	width: 0px;
}

.columnas{
  display: flex;
  justify-content: space-between;
}

.columnas div{
  width: 30%;
  
}
