*{box-sizing: border-box;}

body{
  background-color: rgb(50, 54, 57);
}

header{
  background-color: rgba(74, 78, 82);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header h1{
  color: yellow;
  font-size: 50px;
  padding-top: 20px;
  font-family: 'Bowlby One SC', cursive;
  position: relative;
  left: 39.5%;
  word-spacing: 83px;
}
header img{
  width: 5%;
  position: absolute;
  left: 47.5%;
  top: 3.5%;

}

.fa-search{ /*estilo de la lupita*/
  position: absolute;
  top: 7%;
  right: 7%;
  color: yellow;
}
.inputHidden{ /*no me deja bajar el buscador*/
  /* position: absolute;
  top: 7%;
  right: 4%; */

}
.fa-filter{
  position: absolute;
  top: 7%;
  right: 4%;
  color: yellow;
}
footer {
  background-color: rgb(50, 54, 57);
  height: 50px;
}

footer{
  position: relative;
}
/*tamaño img de footer logo tmdb*/
footer img.TMDB {
  position: absolute;
  display: flex;
  width: 6%;
  right: 1%;
  bottom: 10%;
}
footer label{
  color: white;
  position: absolute;
  left: 1%;
  bottom: 21%;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
